---
title: Infrastructure
---

<div class="content">
    <h2>where</h2>
    <p>the services run on a dedicated machine at Hetzner, in Finland, using 100% renewable energy.</p>

    <h2>code</h2>
    <p>our infrastructure is transparent and public, check the open source code at <a href="https://codeberg.org/uncloud/infra" target="_blank">codeberg</a>.</p>

    <h2>backup</h2>
    <p>we maintain 7 days worth of encrypted backup for everything, unless otherwise specified.</p>

    <h2>privacy</h2>
    <p>the machine's disk is encrypted, we disable logs and personal information whenever possible, we <strong>never</strong> sell any data.</p>
</div>

<style>
    #nav-infrastructure {
        font-weight: bold;
        text-decoration: underline;
        text-underline-offset: 5px;
        text-decoration-thickness: 2px;
    }
</style>