<!DOCTYPE html>
<html>
    {{ partial "head" . }}
    <body>

        {{ partial "header" . }}

        {{ partial "nav" . }}

        {{ block "main" . }}{{ end }}

        {{ partial "footer" . }}

    </body>
</html>