<nav>
    <ul>
        <li><a href="/" id="nav-services">services</a></li>
        <li><a href="/infrastructure" id="nav-infrastructure">infrastructure</a></li>
        <li><a href="/about" id="nav-about">about</a></li>
        <li><a href="https://uptime.uncloud.do/status/uncloud" id="nav-status" class="external-link" target="_blank">status</a></li>
        <li><a href="https://matrix.to/#/#uncloud:matrix.uncloud.do" id="nav-community" class="external-link" target="_blank">community</a></li>
    </ul>
</nav>