{{ define "main" }}
	<main>
        <div class="services">
            {{ range .Site.Data.services }}

                <div class="service">
                    <i class="fa-solid {{ .icon }} fa-2xl"></i>
                    <h2>{{ .name }}</h2>
                    <p>{{ safeHTML .description }}</p>
                    <a class="go" href="{{ .link }}" target="_blank">go to service <i class="fa-solid fa-arrow-up-right-from-square"></i></a>
                </div>

            {{ end }}
        </div>
	</main>

    <style>
        #nav-services {
            font-weight: bold;
            text-decoration: underline;
            text-underline-offset: 5px;
            text-decoration-thickness: 2px;
        }
    </style>
{{ end }}