* {
    font-family: 'Open Sans';
}

body {
    margin: auto;
    padding: 20px;
    max-width: 80em;
    padding-top: 2em;
    background: linear-gradient(180deg, rgba(97, 196, 238, 0.7) 0%, rgba(252, 146, 120, 0.7) 100%), #E5E5E5;
    background-attachment: fixed;
}

header h1 {
    font-size: 3em;
    margin-bottom: 0;
}

header p {
    margin-top: 0;
}

nav * {
    display: inline;
    font-size: 20px;
}

nav li {
    margin-left: 10px;
    margin-right: 10px;
}

nav {
    text-align: right;
    margin-bottom: 3em;
}

nav a:link, nav a:visited {
    text-decoration: none;
    color: black;
}

nav a:hover, nav a:active {
    text-decoration: underline;
    color: black;
    text-underline-offset: 5px;
}

.services {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 60px;
}

.service {
    border-radius: 1em;
    padding: 50px 50px;
    background-color: rgba(255, 255, 255, 0.6);
    color: #3c3c3c;
    min-height: 130px;
}

.service h2 {
    text-align: center;
    font-size: 1.2em;
    padding-left: 10px;
}

.service i, .service h2 {
    display: inline-block;
}

.service p {
    font-style: italic;
    text-align: left;
    font-size: 1em;
}

.service a:active, .service a:hover, .service a:link, .service a:visited {
    text-decoration: none;
    color: #167BAB;
}

.service .go {
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 1em;
    border-style: none;
    padding: 12px 17px;
    position: relative;
    font-size: 14px;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    display: table;
}

.service .go:link, .service .go:visited, .service .go:hover, .service .go:active {
    color: #3c3c3c;
}

.service .go i {
    margin-left: 5px;
}

footer {
    margin-top: 4em;
}

footer p {
    text-align: right;
    font-style: italic;
}

footer a:link, footer a:visited {
    font-weight: bold;
    text-decoration: none;
    color: black;
}

footer a:hover, footer a:active {
    text-decoration: underline;
    color: black;
    text-underline-offset: 5px;
}

.content {
    text-align: center;
    padding-top: 10px;
}

.content h1 {
    font-size: 38px;
    line-height: 55px;
}

.content p {
    font-size: 22px;
    font-style: italic;
    font-weight: 300;
    line-height: 32px;
}

.content a {
    text-decoration: underline;
    color: black;
    text-underline-offset: 5px;
}

.content a:hover, .content a:active {
    font-weight: 400;
}

.external-link:after {
    position: relative;
    top: -0.5em;
    font-size: 0.7em;
    content: '⬈';
    display: inline-block; /* effect as `text-decoration: none` */
    padding-left: 0.1em;
}

@media only screen and (max-width: 992px) {
    body {
        padding: 20px;
    }

    nav * {
        display: block;
    }

    nav {
        margin-top: 1em;
        margin-bottom: 2em;
        text-align: left;
    }

    nav ul {
        padding-left: 0;
    }

    nav li {
        margin-left: unset;
        padding-top: 0.2em;
        padding-bottom: 0.2em;
    }

    .services {
        display: grid;
        grid-template-columns: auto;
        gap: 30px;
    }
}
